/* work sans font from google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles*/

*{
    font-family: "Work Sans", sans-serif;
}

.btn-primary{
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor:pointer;
    padding: 20px 25px;
    border: 0;
    border-radius: 8px;
}

.text-light-gray{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400px;
    line-height: 1.62rem;
}

.section-title{
    font-size: 2.7rem;
    color: var(--Dark-01, #131313);
    font-weight: 700px;
}


/* haeder style */

header{
    padding: 50px 240px;
    background: rgba(255, 144, 14, 0.10);
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
}

nav li{
    margin-right: 45px;
    list-style: none;
    font-weight: 500px;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/* banner styles */

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.banner-content h1{
    font-weight: 700;
    font-size: 4rem;
}

.banner-title{
    color: var(--Dark-01, #131313);
    font-weight: 700px;
    font-size: 4rem;
}

.banner-description{
    line-height: 1.56rem;
    margin-bottom: 1.57rem;
}

.banner img{
    width: 100%;
    margin-top: 40px;
}

/* main styles */

main{
    max-width: 1440px;
    margin: 70px auto;
}

/* teams section styles */

.teams-section{
    display: flex;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
    padding: 0 70px;
}

#ql{
    color: var(--Dark-03, #727272);
    font-size: 2.8rem;
    font-weight: 500px;  
}

#oo{
    color: var(--Dark-01, #131313);
    font-weight: 700px;
    font-size: 2.8rem;
}

#feat{
    color: #FF900E;
    font-weight: 700px;
    font-size: 2.8rem;
}

.teams-description{
    margin-bottom: 1.75rem;
}

/* facts section styles */

.facts .section-title{
    margin-bottom: 0px;
}

.facts .text-light-gray{
    margin-bottom: 100px;
}

.facts-card-container{
    padding: 0 40px;
}

.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: var(--Dark-02, #424242);
    font-weight: 600;
    margin: 5px 0;
}

.facts-card-container .card-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--Dark-03, #727272);
    margin-top: 3px;
}

.facts-card-container{
    display: flex;
    gap: 7.7rem;
    justify-content: space-around;
    margin-bottom: 160px;
}

/* sponsor section styles */

.sponsors{
    text-align: center;
}

.sponsors-img-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* responsive media */

@media screen and (max-width: 576px){
    header{
        padding: 5px 20px;
    }
    nav, .teams-section{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding: 20px 40px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 100px;
        padding: 0 90px;
    }
    .facts .text-light-gray{
        margin-bottom: 50px;
    }
    .facts .facts-header{
        padding: 0 40px;
    }
    .sponsors .section-title{
        margin-bottom: 10px;
    }
    .sponsors-header{
        padding: 0 20px;
    }
    .sponsors-img-container{
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        gap: 20px;
    }
    .sponsors-img-container img{
        width: 160px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    header{
        padding: 30px 90px;
    }
    nav, .teams-section{
        flex-direction: column-reverse;
    }
    .teams-content{
        padding: 20px 50px;
        margin-bottom: 20px;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        padding: 0 130px;
        gap: 1.5rem;
        margin-bottom: 100px;
    }
    .facts .text-light-gray{
        margin-bottom: 50px;
    }
    .facts .facts-header{
        padding: 0 40px;
    }
    .sponsors .section-title{
        margin-bottom: 20px;
    }
    .sponsors-img-container img{
        width: 170px;
    }
    .sponsors-img-container{
        flex-direction: column;
        margin-top: 40px;
        align-items: center;
        gap: 20px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1370px){
    header{
        padding: 50px 130px;
    }
    .teams-section{
        flex-direction: column;
    }
    .teams-content{
        padding: 40px 140px;
    }
    .facts .facts-header{
        padding: 0 140px;
    }
    .facts .facts-card-container{
        justify-content: space-between;
        gap: 5px;
        margin-bottom: 120px;
       }
    .facts .text-light-gray{
        margin-bottom: 50px;
    }
    .sponsors .section-title{
        margin-bottom: 30px;
    }
    .sponsors-img-container img{
        width: 200px;
    }
    .sponsors-img-container{
        margin-top: 60px;
        align-items: center;
        gap: 20px;
        padding: 0 70px;
        
    }
    
}